@model List<Department>

@{
    Layout = "_MohitLayout";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["desc"]</h2>

<table class="table">
<tr>
        <th>Id</th>
        <th>DName</th>
        <th>Loc</th>

</tr>
@foreach(var dept in Model)
{
    <tr>
            <td>@dept.Id</td>
            <td>@dept.DName</td>
            <td>@dept.Loc</td>

    </tr>
}

</table>